h1{
    text-align: center;
    color: #F93E68;
    font-size: 50px;
    margin-left: 25px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

#logo{
    width: 100px;
    height: 100px;
}