.blog{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#editBlogTitle{
    /* color: rgb(235, 143, 44); */
    color: rgb(189, 112, 24);
    margin-top: 10px;
    margin-bottom: 10px;
}