h2{
    text-align: center;
    margin: 20px;
    color: #189484;
    font-size: 22pt;
}

#filterBlogs{
    border-radius: 7px;
    padding: 3px;
    font-size: 12pt;
}

#searchBar{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 13pt;
}

#blogs_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.blog{
    margin: 1%;
    padding: 1em;
    border-color: #7F96FF;
    border-style: groove;
    border-radius: 20px;
    background-color: #ADBCFF;
    width: 13%;
    height: 150px;
}