.postDiv{
    background-color: lightblue;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.postActions{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.postContent{
    display: grid;
    grid: 1fr;
    grid-gap: 15px;

}

.postContent img{
    width:100%;
}

#postImage{
    max-width: 250px;
    max-height: 400px;
    margin: auto;
}
.postActionsRight button{
    border-radius: 7px;
    padding: 3px;
    font-size: 12pt;
    text-decoration: none;
    margin-left: 5px;
}

#commentsTitle{
    color: rgb(189, 112, 24);
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments li{
    list-style-type: none;
}

.comments hr{
    border-color: #8cedc3;
    margin-top: 10px;
    margin-bottom: 10px;
}

#closeCommentsButton{
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    font-size: 12pt;
}

#editPostTitle{
    color: rgb(189, 112, 24);
    margin-top: 10px;
    margin-bottom: 10px;
}

.editPostForm{
    display: flex;
    flex-direction: column;
}

.editPostForm label{
    margin-top: 15px;
}

.editPostForm #submit{
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    font-size: 12pt;
    text-decoration: none;
    margin: auto;
    margin-top: 15px;
}

.editPostContainer button{
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    font-size: 12pt;
    text-decoration: none;
    margin-top: 15px;
}