*{
margin: 0;
}

body{
    background-image: url("./Images/backgroundImage.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
}
/* 
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */